@use './variables.scss' as vars;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Special+Gothic+Expanded+One&display=swap');
body {
  font-family: 'Inter', 'Special Gothic Expanded One', sans-serif;
}


* {
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-weight: 900;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', 'Special Gothic Expanded One', sans-serif;
  background-color: vars.$bg-color;
  color: #fff;
  overflow-x: hidden;
}
::selection {
  background: aqua;
  color: white;
}