.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  background-color: rgba(18, 18, 18, 0.6);
  backdrop-filter: blur(12px);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 20px 80px;
  color: #fff;

  &__logo {
    font-size: 60px;

    @media (max-width: 430px) {
      font-size: 30px;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    text-decoration: none;
    list-style: none; 
  }

  &__linkLogo {
    height: 40px;
    width: 40px;
    color: #fff;

    @media (max-width: 430px) {
      height: 30px;
      width: 30px;
    }
  }

  @media (max-width: 430px) {
    padding: 10px 40px;
    align-items: center;
  }
}
